.container-cards{
margin: 0 auto;
position:relative;
z-index:1;
max-width:1800px;
}
.box-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 12%;
}
.card{ border-radius:10px; 
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.051),
}

.card-1-1{
width: 300px;
height:500px;
background-size: cover;
}

.card-1-2{
  width: 300px;
  height:500px;
  background-size: contain;
background-repeat:round;


}
.card-2-1{

background-size: cover;
}

.card-2-2{

  background-size: contain;
  background-repeat:round;
}
.card-3-1{

  background-size: contain;
  background-repeat:round;
}
@media (max-width: 1800px){
	
  .card-1-1{
   margin-left: 50px;
   
  }
  .card-1-2{
    margin-right: 50px;
    
   }
}
@media (max-width: 768px){
	
  .box-cards{
    display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 0% ;
  margin-top: 35%;
  }
  .card-1-1{ margin-left: 0% ;}
   
  .card-1-2{

   display: none;
   }
  }

@media (max-width:820px){
  .box-cards{
    margin-top: 40%;
  }
}

